*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
:root{
    --base-color: #222222;
    --ascent-color:#007bff;
    --highlight-color:#ffcc00;
    --natural-color:#ffff

}
html{
    height: 100%;
}
body{
    background-color: #222222;
    color:#DEDEDE;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    
}
img{
    max-width: 100%;
}
.logo{
    max-width: 150px;
    height: 150px;
}
ul li{
    list-style: none;
}

.topNavElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #222222;
    border: 1px solid rgba(137, 133, 133, 0.5);
}
.navMenuList{
    display: none;
    flex-direction: column;
    align-items:start;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1rem;
    padding-bottom: 1.5rem;
    height: 100vh;
    width: 300px;
    background-color: #222222;
    position: fixed;
    top: 0;
    right: 0;  
    z-index: 1;
}
.navMenuList li {
    list-style: none;
    font-size: 1.5rem;  
}
.navMenuList li > a{
    text-decoration: none;
    color: white; 
}
.openMobileMenu{
    border: none;
    background-color: transparent;
}
.closeMobileMenu{
    display: none;
    z-index: 999;
    margin-right: 20px;
    background-color: transparent;
    border: none;
}
.hero-section{
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 100px; 
    
}
.hero-content{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.profile-frame{
        display: inline-block; /* Ensure the container wraps around the image */
        border-radius: 100%; /* Make the container round */
        border: 20px solid #444444; /* Set border width and color */
        overflow: hidden; /* Ensure the image stays within the container */
        box-shadow: 0 0 20px rgb(0, 0,2);
        margin-bottom: 20px;
        width: 250px;
        height: 250px;
        background-color: #F5F5F5;
        
}
.profilepic{
   border-radius: 50%;
}
.subheading{
    font-size: 1.1em;
    color: #444444;
    text-transform: capitalize;
    margin-bottom: 15px;
    text-align: center;
}
.title-name{
    font-size: 1.3em;
    text-transform: capitalize;
    font-weight: 400px;
    margin-bottom: 20px;
    text-align: center;
    
}

.hero-content > p{
    color: #DEDEDE;
    text-align: center;
    margin-bottom: 40px;
}
.hero-content > div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom:30px ;
    gap:2rem;
}
.portfolio-link,.email-link,.resume-link{
    color: white;
    padding: 10px 8px;
    width: 100px;
    text-decoration: none;
    text-transform: capitalize;
       
}
.email-link{
    background: #e95d2a;
    border: none;
}
.portfolio-link{
    border: 1px solid rgb(233, 93, 42,0.5); 
}
.resume-link{
    background: #e95d2a;
    border: none;
    margin-left: 10px;
    margin-top: 50px;

}

.title-txt-cont{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
.title-txt-cont > h1{
    color: #ffff;
   
}
span{
    color: #e95d2a;
}
.title-txt-cont > a{
    display: none;
    color: #ffff;
    text-decoration: none;
    background: #e95d2a;
    padding: 0.5rem;
    margin-right: 8px;
    font-size: 1.1em;
}
.projects{
    max-width: 400px;
    height: auto;
    margin: 0 auto;    
}.projects > h3{
    text-align: left;
}

.image-project{
    width: 300px;
    height: 200px;
}
.experience-sec >div {
    display: flex;
    align-items:baseline;
    gap: 1rem;
}
.shapes{
    display: flex;
    flex-direction: column;

}
.circle-shape{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #444444;

}
.vertical-line{
    height: 130px;
    border-left: 2px solid #444444;
    margin-left: 8px;

}


.title{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    text-transform: capitalize;
    font-size: 2rem;
    text-align: left;
}
.experience-content > div h2 {
    color: #DEDEDE;

}
.exp-cont-1{
    margin-bottom: 25px;
    color: #444444;
    font-size: 0.9em;
}
.exp-cont-1 h2{
    color: #DEDEDE;
   }
.exp-cont-1 p{
 color: #444444;
}

.resume-sec{
    margin-top: 15px;
}
.skills-section{
    margin-top: 50px;
}
.skills-section > h1{

}
.skills-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.skills-list svg{
    height: 60px;
    width: 60px;
}
.testimonials-sec {
    max-width: 350px;
    min-height: 350px;
    margin: 0 auto;
}
.testimonials{
/*    
    background: #f5f2ed;
    color: #67646a;
    width: 100%;
    height: 100%;
    padding: 0.5,rem;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px; */
    width:100%;
    height: 100%;
    background: #f5f2ed;
    margin-bottom: 30px;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}
.testimonials >p{
    margin-bottom: 8px; 
    color: #444444;  
}
.testimonials > h4{
    color: #222222;
    text-transform: uppercase;
}
.contact-link{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #e95d2a;
    color: #ffff;
    text-decoration: none;
    padding: 0.5rem;
  
    
}
.contact-link > a{
    color: #ffff;
    text-decoration: none;
    margin: 0 auto;
    text-transform: capitalize;
}